@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  /* background: #E5E5E5; */
}

main {
  width: 375px;
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

.container {
  width: 375px;
  height: 674px;
  background: #fff;
  border-bottom-left-radius: 60px;
}

header {
  display: flex;
  padding: 14px 24px 14px;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.material-symbols-outlined {
  color: #6070ff;
}

.content {
  width: 375px;
  height: 626px;
  background-image: url(./images/header-shapes\ mobile.png);
}

.content h1 {
  padding: 114px 24px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.content p {
  padding: 12px 24px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.content h6 a {
  text-decoration: none;
  padding: 0 24px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-icons {
  padding: 6px 6px 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

button:hover {
  cursor: pointer;
}

.Works_Section {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 24% 24% 24% 24%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 88px 24px 88px 24px;
}

.card_1 {
  height: 552px;
}

.card_2 {
  height: 596px;
}

.card_3 {
  height: 552px;
}

.card_4 {
  height: 596px;
}

.card img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  margin: 16px 16px 0 16px;
}

.card h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 16px 0 16px;
}

.frame ul {
  display: flex;
  margin: 12px 16px 12px 16px;
  column-gap: 12px;
  align-items: center;

  /* background-color: red; */
}

.frame li {
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.separator {
  width: 6px;
  height: 6px;
  border-radius: 16px;
  background-color: #c1c7d0;
}

.frame .canopy {
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.card p {
  margin: 0 16px 0 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags ul {
  display: flex;
  margin: 12px 16px 12px 16px;
  column-gap: 12px;

  /* align-items: center; */
}

.social-media-icons li {
  display: flex;
  padding-left: 12px;
  margin-bottom: 12px;
  column-gap: 12px;

  /* align-items: center; */
}

.categories li {
  list-style: none;
}

.tags ul li {
  list-style: none;
  margin-top: 0;
  padding-top: 0;
}

.tags button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border-radius: 8px;
  background: #ebebff;
  border: none;
  padding: 4px 12px 4px 12px;
}

.see_project_button button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 16px;
}

.content_2 {
  width: 375px;
  height: 5000px;
  height: 674px;
  background: #fff;
  border-top-right-radius: 60px;
}

.content_2 h2 {
  padding: 114px 24px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.content_2 p {
  padding: 12px 24px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.content_2 h6 a {
  text-decoration: none;
  padding: 0 24px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.resume_button button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 24px;
}

.categories ul {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 26px;
  height: 600px;
}

.box {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0 12px 0;
  align-items: center;
  padding: 9px 0 9px 14px;
}

.categories ul li {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 23px 12px 23px 0;
}

.frameworks {
  border-bottom: solid 1px #dfe1e6;
}

.skills {
  border-bottom: solid 1px #dfe1e6;
}

.arrow {
  background-color: transparent;
  border: none;
}
