@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  /* background: #E5E5E5; */
}

.container {
  width: 375px;
  height: 674px;
  background: #fff;
}

header {
  display: flex;
  padding: 14px 24px 14px;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.material-symbols-outlined {
  color: #6070ff;
}

.content {
  width: 375px;
  height: 626px;
  background-image: url(/images/header-shapes\ mobile.png);
}

.content h1 {
  padding: 114px 24px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.content p {
  padding: 12px 24px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.content h6 a {
  text-decoration: none;
  padding: 0 24px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-icons {
  padding: 6px 12px 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.social-media-icons li {
  list-style: none;
}
